@import 'tailwindcss';

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #007456;
  --secondary-color: #004a38;
  --accent-color: #f2f8f7;
  --text-color: #4d4d4d;
}

/* Scroll Bar */
/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 2px solid transparent;
  /* gives a tiny gap look */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  background-color: white;
}


/* Primary Button */
button.primary-btn {
  @apply px-6 py-2.5 justify-center font-medium tracking-wide rounded-full text-white bg-[var(--primary-color)] border-none outline-none cursor-pointer whitespace-nowrap flex items-center gap-2;
}

button.primary-btn:hover {
  @apply bg-[#005d45];
}

button.primary-btn:active {
  @apply translate-y-[1px] scale-95 shadow-md;
}

button.primary-btn:disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed shadow-none;
}

/* Secondary Button */
button.secondary-btn {
  @apply px-6 py-2 flex justify-center items-center gap-2 font-semibold tracking-wide rounded-full border border-[var(--primary-color)] text-[var(--primary-color)] outline-none cursor-pointer transition-all duration-200 ease-in-out;
}

button.secondary-btn:hover {
  @apply bg-[var(--primary-color)] text-white;
}

button.secondary-btn:active {
  @apply translate-y-[1px] scale-95 shadow-md;
}

button.secondary-btn:disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed shadow-none;
}


/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

select,
button {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"] ,
input[type="date"] 
{
  @apply w-full p-2 px-4 border border-gray-300 rounded focus:border-[var(--primary-color)] outline-none transition-all;
}

label {
  @apply text-sm block mb-2 font-medium text-gray-700
}

.follow-btn {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.follow-btn.unfollow {
  background-color: white;
  color: #0076b5;
  border: 2px solid #0076b5;
}

.follow-btn.unfollow:hover {
  background-color: #0076b5;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-in-out;
}

/* Custom Swiper Pagination Dots */
.swiper-pagination-bullet-custom,
.testimonials-pagination-bullet-custom {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d5db;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 1;
}

.swiper-pagination-bullet-custom:hover,
.testimonials-pagination-bullet-custom:hover {
  background-color: #9ca3af;
  transform: scale(1.1);
}

.swiper-pagination-bullet-active-custom,
.testimonials-pagination-bullet-active-custom {
  background-color: var(--primary-color);
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.scroll-vertical {
  animation: vertical-scroll 65s linear infinite;
  will-change: transform;
  margin-left: 3rem;
}

.scroll-vertical:hover {
  animation-play-state: paused;
}


.job-description * {
  @apply text-sm font-normal leading-relaxed text-gray-700;
}

/* Optional: override headings to look minimal */
.job-description * {
  @apply text-sm font-normal leading-relaxed text-gray-700;
}

/* H1 */
.job-description h1 {
  @apply text-2xl font-bold text-gray-900 mb-3;
}

/* H2 */
.job-description h2 {
  @apply text-xl font-semibold text-gray-800 mb-2;
}

/* H3 */
.job-description h3 {
  @apply text-lg font-semibold text-gray-800 mb-2;
}

/* H4 */
.job-description h4 {
  @apply text-base font-semibold text-gray-800 mb-1;
}

/* H5 */
.job-description h5 {
  @apply text-sm font-semibold text-gray-700 mb-1;
}

/* H6 */
.job-description h6 {
  @apply text-xs font-semibold text-gray-600 mb-1;
}

.job-description p {
  @apply mb-2;
}

.job-description li {
  @apply mb-2 list-disc list-inside;
}